@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Heebo', sans-serif !important;
}

svg.nx-w-3\.5.nx-shrink-0 {
    rotate: 180deg;
}

.nx-absolute.nx-top-0.nx-z-\[1\].nx-w-full.nx-truncate.nx-rounded-t-xl.nx-bg-primary-700\/5.nx-py-2.nx-px-4.nx-text-xs.nx-text-gray-700.dark\:nx-bg-primary-300\/10.dark\:nx-text-gray-200 {
    text-align: left;
}